/*  PALETA DE COLORES
    F4F5F5  7E7D89  A49A9D  59525F  333143
*/
body{
    background-color: #E8DCD7;/*#65DFA8;*/
    font-family:'Didact Gothic', 'Dosis', sans-serif;
    color: #000;
}
header{
    font-size: 20px;
    position: absolute;
    width: 20vw;
    height: 100vh;
}
.marco{
    position: absolute;
    top: 20px;
    left: 22%;
    width: 55%;
    height: 25%;
    border: 1px solid gray;
    overflow: hidden;
    border-radius: 25%;
}
.nav{
    background-color: #212225;
    width: 100%;
    height: 100vh;
}
.nav__sidebar{
    position: absolute;
    width: 100%;
    height: 32%;
    top: 40%;
}
.nav__sidebar-item{
    margin-top: 3%;
    text-align: center;
}
.nav__sidebar-item a{
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    color: #eae9e6;
    text-transform: uppercase;
}
.nav__sidebar-item a:hover{
    text-align: right;
    background-color: #eae9e6;
    color: #333143;
    transition: all 1s;
}
/*  PALETA DE COLORES
    F4F5F5  7E7D89  A49A9D  59525F  333143
*/
.inicio{
    background: rgb(232,220,215);
    background: radial-gradient(circle, 
    rgba(126,125,137,1) 0%,
    rgba(164,154,157,1), 35%,
    rgba(89,82,95,1) 75%);
    background-image: url("../media/conchillos.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 80vw;
    left: 20vw;
    font-size: 20px;
}
.inicio__content{
    position: relative;
    top: 15%;
    width: 90%;
    height: 50%;
    text-align: center;
    margin: auto;
    border: solid #E8DCD7 0.1px;
    background-color: #FFFFFF10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.inicio__content-titulo{
    padding: .57em;
    color: #fff;
}
/*  PALETA DE COLORES
    F4F5F5  7E7D89  A49A9D  59525F  333143
*/
.inicio__content-devlist li{
    display: inline-block;
    width: 100px;
    margin: 0px 25px;
    text-align: center;
}
.inicio__botones{
    margin-top: 12%;
    text-align: center;
}
.inicio__botones a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 21%;
    margin: 0 18px;
    padding: 22px 0px;
    font-family:'Didact Gothic', 'Dosis', sans-serif;
    font-size: 20px;
    color: #FFF;
    transition: all .5s;
}
.inicio__botones a:hover{
    background-color: #783f36;
}
.inicio__botones-b1{
    background-color: #ad8a6b;
}
.inicio__botones-b2{
    background-color: #826845;
}

/*  PALETA DE COLORES
    F4F5F5  7E7D89  A49A9D  59525F  333143
*/
